!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/styles.css')
    title Code-Hub
    block head
  body
    #main
      a(href='/')
        img(src='/images/CodeHubLogo.png')
      #container
        block content