h1 New script
- if(hasError)
  p(style="color:red") #{error}
form(action='/scripts', method='POST')
  p
    label(for='script_name') Name:
  p
    input(type='text', id='script_name', name='script[name]', 
          value=hasError?name:'')
  p
    input(type='submit', value='Create')
